header {
    background: rgb(255,255,255);
    background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(246,248,248,1) 36%, rgba(182,194,198,1) 100%);
    width: 100vw;
    height: 80px;
    display: none;
    justify-content: space-between;
    align-items: center;
  
}
.show{
    display: flex;
}

/* el botón check asociado al input */
#check-menu {
    display: none;
}

header > img {
    padding-left: 20px;
    width: 150px;
}

/* el botón que despliega el menú */
header > label {
    display: block;
    padding-right: 15px;
}

nav {
    position: absolute; 
    display: none;
    width: 100vw;
    background-color: rgba(33,96,150,1);
    margin-top: 210px; 
}

nav > ul {
    flex-direction: column;
    margin:0;
    padding: 0;
    list-style: none;        
}

nav > ul > li > a {
    display: block;
    width: 100vw;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-top: 1px solid white; 
}

nav > ul > li > a:hover {
    background-color: #f7971c;
}

/* si se dio check al input, llama a la barra de navegación */
#check-menu:checked ~ nav {
    display: flex;
    margin-left:0;
    transition: 1s;
}

@media screen and (min-width: 890px)  {

    header > label {
        display: none;
    }

    nav {
        position: static;
        display: inline;
        width: auto;
        margin: 0;
        background-color: transparent;       
        transform: translateX(0%);
    }

    nav > ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style: none;       
    }

    nav > ul > li > a {
        width: 12vw;
        border: none;
        color:#007cba;
    }

    nav > ul > li > a:hover {
        background: initial;
        color: #f7971c;
    }
    #check-menu:checked ~ nav {
        flex-direction: row;
        margin-left:0;
        transition: 1s;
    }
}

