#section-register {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 65vh;
	margin-top: 20px;
}
.form-flex {
    height: 60vh;
    list-style-type: none;
    padding-left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input:not(.button-post) {
    height: 30px;
    width: 250px;
    border-radius: 20px;
    border-color: #007cba;
    border-style: solid;   
    outline: transparent;
}

@media screen and (min-width: 890px)  {
    #section-register {
        display: flex;
        width: 50vw;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100vh;
      }
    
    input:not(.button-post) {
        height: 30px;
        width: 310px;
        border-style: solid;
        border-radius: 20px;
    }

}
