@import 'login.css';
@import 'perfil.css';
@import url(menu.css);
@import url(timeline.css);
@import url(register.css);

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    background: white;
    color:#007cba;
}

main {
    display: flex;
    flex-direction: column;
}
