@import './login.css';
@import './perfil.css';
@import url(./menu.css);
@import url(./timeline.css);
@import url(./register.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-size: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(182,194,198,1) 100%);
    
    color:#007cba;
}

main {
    display: flex;
    flex-direction: column;
}

.hidden {
    display:none;
}

@media screen and (min-width: 890px)  {
    main {
        display: flex;
        flex-direction: row;
    }
}
