#timelineView {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center; 
  }

  /* Tarjeta para datos de perfil y posts */
.card {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 25px;
    width: 80vw;
    min-height:120px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
}

.card-header {
  background-color: #007cba;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 55px;
  font-weight: bold;
  border-radius: 25px; 
}

#profile {
    align-items: center;
  }
	#profile ul {
    list-style-type: none;
    border-left: 3px solid #80ba33;
    margin-left: 15px;
    padding-left: 15px;
  }
  #profile ul li {
    padding-bottom: 10px;
  }
	#profile > img {
			height: 100px;
      width: 100px;	
	}

.rounded {
	border-radius: 30%;
}	

/* Desplegable botón privacidad */
.dropbtn {
  background-color: #007cba;
  color: white;
  border: none;
}
  
  /* Div dentro del botón privacidad */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Hidden */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 30px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 /*    z-index: 1; */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
/*   .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  
/* Cuadro para postear */
.post {
    flex-direction: column;
    align-items: center;
    font-size: 12px;   
}

textarea {
    resize: none;
    width: 70vw;
    height: 80px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid lightgray;
    color: gray;
    margin: 10px 0 10px 0;
    user-select: none;
  }

.card-footer{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}  

.post-btn {
    background-color: #007cba;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

.post-btn:hover, .dropbtn:hover, .dropdown:hover {
    background:  #80ba33;
}

/* Timeline: Ya posteados */

.post-profile-picture{
    width: 40px;
		height: 40px;
		margin: 0 15px 0 30px;
}
/* opcional. ver como retirarlo */
.white {
  background-color: white;
  }

#upload-img{
  display: none;
}

.profile-undefined{
    background-color: #80ba33; /*  #007cba */
    height: 100px;
    width: 100px;	
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    border-radius: 20px;
}

@media screen and (min-width: 890px)  {

    #timelineView {
        display: grid;
        grid-template-columns: auto 350px 500px auto ;
        column-gap: 40px;
      }

    #profile {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        grid-column: 2;
        width: 350px;
        min-height:100px;
      }  

    .card {
        background-color: white;
        width: 500px;
        min-height:200px;
    }

    textarea {
      width: 450px;
  }
    #timeline {
        grid-column: 3;
    }

    
    


}