#timelineView {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center; 
  }

  /* Datos del perfil */

#profile {
    display:flex;
    margin-top: 10px;
    padding: 10px;
}

	#profile ul {
    list-style-type: none;
  }

	#profile > img {
			height: 100px;
			width: 100px;
			
	}

.rounded {
	border-radius: 50%;
}	

.card {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 25px;
}

/* Botón privacidad */
.dropbtn {
    background-color: #007cba;
    color: white;
    padding: 1px;
    font-size: 16px;
    border: none;
  }
  
  /* Div dentro del botón privacidad */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
/* Cuadro para postear */
.post {
    margin-top: 15px;
    width: 320px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    
}

.post-input-text {
    width: 280px;
    height: 80px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid lightgray;
}

textarea {
    resize: none;
    color:#007cba;
  }

.post-buttons{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}  

.button-post {
    background-color: #007cba;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

/* Timeline: Ya posteados */

.posted {
    margin-top: 15px;
    width: 320px;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.post-author {
    background-color: #007cba;
    color: white;
		display: flex;
    width: inherit;
    height: 55px;
    border-radius: 25px 25px 0px 0px; 
/*     padding-left: 30px; */
}

.post-profile-picture{
    width: 30px;
		height: 30px;
		margin: 0 15px 0 30px;
}
/* .post-text-posted {
    width: 300px;
    height: 60px;
    border-radius: 0px 0px 3px 3px;
} */


@media screen and (min-width: 890px)  {

    #timelineView {
        display: grid;
        grid-template-columns: auto 350px 500px auto ;
        column-gap: 40px;
      }

    #profile {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        grid-column: 2;
      }  

    .post {
        margin-top: 15px;
        width: 500px;
        height:200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        grid-column: 3;
     }  
     .post-input-text {
        width: 450px;
        height: 80px;
    }
    .posted {
        margin-top: 15px;
        width: 500px;
        height:150px;
        grid-column: 3;
    }

    
    


}